body {
  background-image: url("./assets/background.jpg");
  background-size: 130%;
  height: 100%;
  margin: 0px;
}

header-pokemon {
  height: 5rem;
  margin: 0.5rem;
}

.main-container {
  display: flex;
  height: calc(100vh - 7rem);
  width: 100%;
}

.main-container sidebar-menu {
  width: 25%;
  height: 100%;
  overflow-y: auto;
}

.main-container #outlet {
  width: 75%;
}